

.containerfluid{
    padding: 0 2rem;
    
}


.contact-us-head-image img{
    width: 100%;
    height: 90%;
}
.head-text-of-contact-us-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.head-text-of-contact-us-page h1{
   
    
    color: #696666;
    font-weight: 700;
}


.para-text-of-contact-us-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: 1rem;
}

.para-text-of-contact-us-page h6,h4{
    
    font-weight: 700;
    font-style: italic;
}
.images-components-of-contact-us-page{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0;
    
}

.how-can-you-reach-us p{
    color: white;
}
.images-components-of-contact-us-page img{
    height: 12rem;
    width: 13rem;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
.main-how-can-you-reach-us{
    display: flex;
    justify-content: center;
    align-items:start;
    margin: 5rem 0;

}
.how-can-you-reach-us{
    margin-top: 5rem;
    /* position: relative;
    left: 6rem;
    top: 3rem; */
    background-image: url(../../Assets/contact-us-reach-us-back-image.png);
    background-size: cover;
    
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
    padding: 10rem 7rem 2rem 2rem;
    margin-bottom: 5rem;
}
.how-can-you-reach-us a{
    color: yellow;
    text-decoration: none;
}
.aboutus-icons-in-page{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    gap: 2rem;
}
.send-us-message-contact-us-page{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 8rem 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}
.all-input-in-contact-us-page{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}
.all-input-in-contact-us-page input{
    padding: 5px;
    width: 20rem;
    color: #C2C1C1;
    font-style: italic;
    font-size: small;
    
}



.send-us-message-contact-us-page button{
    width: 10rem;
    height: 2.5rem;
    background-color: #107E7D;
    color: white;
    border-radius: 5px;
    border: none;

}