.main-textarea-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-textarea-div textarea {
  width: 70%;
  height: 10rem;
  background-color: #e7e7e7;
  color: #747474;
  font-size: 1rem;
  padding-left: 10px;
  border-radius: 3px;
  border: none;
  padding-top: 10px;
}
