.main-blogs{
  margin-bottom: 4rem;
  width: 20rem;
  text-decoration: none;
}

.card-face{
  position: relative;
  backface-visibility: hidden;
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.date-and-icon-of-latest-news{
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  font-size: 1.2rem;
 

}
.icon-and-course-of-latest-news{
  display: flex;
  gap: 10px;
  font-size: 1.1rem;
  color: rgb(147, 145, 145);
 
  
}
.head-of-latest-news{
  text-align: center;
  color: rgb(34, 33, 33);
  

}

.date-of-latest-news{
  display: flex;
  justify-content: space-between !important;
  font-size: 1.1rem;
  color: rgb(147, 145, 145);

}

/* ------------------------- */
.card:hover{
  animation: shake 2s ease-in-out !important;
}

@keyframes shake {
  0% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-5px, 0); }
  20%, 40%, 60%, 80% { transform: translate(5px, 0); }
  100% { transform: translate(0, 0); }
}