.main-signup-design {
  background-image: url("../../../Assets/login-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-side-div {
  background-image: url("../../../Assets/login-first.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh !important;
  margin-right: -5rem;
  z-index: 100;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.left-side-div img {
  width: 30%;
}

.left-side-div p {
  font-weight: bolder;
  color: white;
  text-align: center;
}

.welcome-to-mbacouncel {
  color: #17559c;
  font-weight: 900;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.right-side-div-signup {
  height: 80%;
  width: 40%;
  background-color: white;
  color: black;
  padding: 2rem 4rem 2rem 8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.create-account-p {
  font-size: 1.3rem;
  font-weight: 600;
}
/* --------------------this is all same in all pages so do not disturb it--------------------- */

.new-password-form-div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  margin-left: -2rem;
}

.new-password-form-div input {
  width: 85%;
  height: 2.5rem;
  border-radius: 3px;
  border: 1px solid #696666;
  justify-content: center;
  padding-left: 1rem;
}

.new-password-form-div button {
  color: white;
  font-size: medium;
  width: 90%;
  height: 2.5rem;
  background-color: #107e7d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.change-password-6-char-para {
  margin-top: 0%;
  margin-bottom: 4%;
  padding: auto;
  color: #696666;
  text-align: left;
  width: 87%;
}
.extra-content-at-bottom {
  width: 95%;
  margin-top: 2%;
  color: #696666;
  /* border: 1px solid grey;
    border-radius: 1rem; */
}

/* ----------------------this is media query--------------------------- */

@media only screen and (max-width: 1025px) {
  .welcome-to-mbacouncel {
    font-size: 1.3rem;
    font-weight: bolder;
  }

  .create-account-p {
    font-size: 1rem;
  }
  .signup-form-div button {
    width: 100%;
  }
  .signup-icons-div button {
    font-size: 10px;
  }
  .signup-form-div input {
    width: 100%;
  }
}
@media only screen and (max-width: 769px) {
  .left-side-div {
    display: none;
  }

  form button {
    margin-left: 2rem;
  }
  form input {
    margin-left: 2rem;
  }

  .right-side-div-signup {
    padding: 2rem;
    width: 50%;
    border-radius: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .right-side-div-signup {
    padding: 1rem;
    width: 85%;
    border-radius: 1rem;
  }
  .welcome-to-mbacouncel {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .create-account-p {
    font-size: 1rem;
  }
}
