.main-collage-div {
  margin: 0rem;
  padding-top: 6rem;
  width: 100%;
  position: relative;
}

.collage-details-div {
  padding: 16px;
  border: 1px solid #dbdbdb;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

.collage-page-background-div {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.543),
      rgba(0, 0, 0, 0.626)
    ),
    url("../../Assets/collage-page-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 50vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collage-page-background-div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  backdrop-filter: blur(10px); /* Adjust the blur intensity as needed */
  z-index: -1;
}

.collage-page-background-button-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.collage-page-background-button-div p {
  color: white;
}

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 1rem;
  height: 2.5rem;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.collage-path-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 90%;
  margin: auto;
  position: absolute;
  top: 5%;
  color: white;
  left: 4%;
}

.collage-name-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  position: absolute;
  color: white;
  bottom: 1rem;
}

.collage-name-left-div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.collage-name-main-div p {
  line-height: 25px;
}

.collage-review-main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 15%;
}

.call-to-action-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 2px;
  box-shadow: 3px -5px 11px 0px black;
}

.call-to-action-button button {
  color: black;
  padding: 14px;
  border: none;
  background-color: white;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.call-to-action-button button:hover {
  background-color: #0062d1;
  color: white;
  border-radius: 4px;
  box-sizing: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
}
