.carrier-with-mba {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
  margin: auto;
}

.carrier-with-mba img {
  width: 40%;
}

.carrier-with-mba p{
  font-weight: bolder;
}

.regular-mba {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.regular-mba button:nth-child(1) {
  color: white;
  border-radius: 5px;
  padding: 1rem;
  width: 10%;
  background-color: red;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid red;
}

.regular-mba button:nth-child(2) {
  color: black;
  border-radius: 5px;
  padding: 1rem;
  width: 10%;
  cursor: pointer;
  background-color: white;
  font-size: 1rem;
}

/* -------------------------------------------------------------------- */

.overview-left {
  width: 70%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background: linear-gradient(103.75deg, #eefa13 -13.9%, #d0a31c 79.68%);
  color: #fff;
  border-radius: 10px;
  position: relative;
  margin: auto;
  margin-top: 10rem;
}

.overview-left p {
  width: 55%;
  font-size: 20px;
  margin-top: 4px;
  line-height: 24px;
  color: black;
}

.overview-left h2 {
  color: #ba274a;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-top: -1rem;
}

.overview-left button {
  background-color: rgb(11, 11, 117);
  border: 1px solid white;
  color: white;
  padding: 10px 25px;
  border-radius: 6px;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: pointer;
}
.overview-left img {
  width: 30%;
  position: absolute;
  right: 20px;
  bottom: -1px;
}

/* ************************************************************************************** */

.why-choose-us {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.why-choose-us img {
  width: 50%;
}

.why-choose-us ul {
  line-height: 2rem;
}

.why-choose-us ul li {
  list-style-type: disc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
}
th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #434343 !important;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
d tr:hover {
  background-color: #f5f5f5 !important;
}

.main-centeral-div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  gap: 3rem;
}

.apply-button-div {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  width: 95%;
  margin: auto;
}
.apply-button-div button {
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 3rem;
}

.crousel-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.our-services {
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.our-services-crousal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.single-product-div {
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  width: 30%;
  height: 20rem;
}

.main-services-class {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.all-new-h1 {
  margin: auto;
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 2rem;
  color: rgb(171, 0, 0);
}

.Top-B-Schools-in-India-crousel-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.top-b-school-in-india-view-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.top-b-school-in-india-view-more-button > a > button {
  border: 1px solid rgb(163, 163, 163);
  padding: 10px;
  width: 100%;
  border-radius: 2px;
  font-weight: bolder;
}

.news-letter {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 3rem;
  background-color: #d9ebf4;
  padding: 2rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.submit-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
}

.vertical-timeline.vertical-timeline--two-columns:before {
  background-color: #003471;
}

.single-product-div-top-B-school {
  text-align: center;
  border-radius: 6px;
  padding-bottom: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  width: 30%;
}

.single-product-div-top-B-school img {
  width: 100%;
  height: 18rem;
}

.apply-button {
  background-color: #002147;
  color: white;
  border: none;
}

.compare-button {
  background-color: white;
  border: 1px solid black;
  color: black;
}

.slick-slide > div {
  margin: 0 10px;
}

.Top-Specializations {
  width: 90%;
  margin: auto;
}

.Top-B-Schools-in-India {
  width: 90%;
  margin: auto;
}

/* media query start from here  */

@media only screen and (max-width: 1024px) {
  .carrier-with-mba img {
    width: 60%;
  }
  .regular-mba button:nth-child(1) {
    width: 30%;
  }

  .regular-mba button:nth-child(2) {
    width: 30%;
  }
  /* ***************************** */

  .single-product-div-top-B-school {
    padding-bottom: 15px;
    width: 30%;
    border: 1px solid green;
  }
  .main-centeral-div {
    gap: 3rem;
  }

  .apply-button-div {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
  }
  .apply-button-div button {
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    height: 3rem !important;
  }

  .overview-left {
    width: 90%;
  }

  .overview-left {
    margin-top: 5rem;
  }

  .overview-left img {
    width: 35%;
  }

  .why-choose-us {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .carrier-with-mba {
    width: 90%;
  }
  .carrier-with-mba img {
    width: 50%;
  }

  .regular-mba button:nth-child(1) {
    width: 30%;
  }

  .regular-mba button:nth-child(2) {
    width: 30%;
  }

  th,
  td {
    font-size: 14px;
  }
  table {
    width: 80%;
  }

  .single-product-div img {
    width: 100%;
  }
  .news-letter {
    width: 70%;
  }
  .all-new-h1 {
    font-size: 1.5rem;
  }

  /* ******************************************* */

  .single-product-div-top-B-school {
    text-align: center;
    border-radius: 10px;
    padding-bottom: 15px;
    width: 30%;
  }
  .main-centeral-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .apply-button-div {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
  }
  .apply-button-div button {
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  .all-new-h1 {
    font-size: 1.8rem;
  }

  .overview-left {
    width: 90%;
  }

  .overview-left button {
    margin-top: 0px;
  }

  .overview-left p {
    font-size: 1rem;
  }

  .overview-left h2 {
    font-size: 1.5rem;
  }

  .why-choose-us {
    flex-direction: column;
    width: 95%;
    margin: auto;
  }
  .overview-left img {
    width: 40%;
  }
  .why-choose-us img {
    width: 100%;
  }

  .top-feature-collage {
    width: 95% !important;
    margin: auto !important;
  }
}

@media only screen and (max-width: 426px) {
  .carrier-with-mba {
    width: 90%;
    flex-direction: column;
    padding-top: 5rem;
  }

  .carrier-with-mba img {
    width: 100%;
  }
  .regular-mba button:nth-child(1) {
    width: 40%;
  }

  .regular-mba button:nth-child(2) {
    width: 40%;
  }
  th,
  td {
    font-size: 12px;
  }
  table {
    width: 90%;
  }
  .news-letter {
    width: 90%;
    padding: 0.5rem;
  }
  .news-letter h1 {
    font-size: 1.4rem;
  }
  .single-product-div-top-B-school {
    text-align: center;
    border-radius: 10px;
    padding-bottom: 15px;
    width: 80%;
  }
  .main-centeral-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .apply-button-div button {
    padding: 15px;
    font-size: 1rem;
  }

  .overview-left {
    height: 250px;
    padding: 15px;
    margin-top: 3rem;
  }
  .overview-left p {
    width: 100%;
    font-size: 14px;
    .overview-left {
      margin-top: 5rem;
    }
    line-height: 18px;
  }
  .overview-left img {
    display: none;
  }
}
