.multileveldropdown-main-div {
  position: absolute;
  top: 100%;
  left: 21%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  width: 60%;
}

.multileveldropdown-main-div div {
  width: 30%;
  background-color: transparent;
}

/* .multileveldropdown-main-div div:hover {
  background-color: #cae2ff;
} */
.multileveldropdown-main-div > div:first-child > p {
  font-weight: bolder;
  padding: 1rem;
  font-size: 20px;
}

.multileveldropdown-main-div div p {
  cursor: pointer;
  margin-bottom: 5px;
}

.selectable-div {
  padding-left: 1rem;
  padding-top: 1rem;
}

.multileveldropdown-main-div div p:hover {
  color: blue;
}

.multileveldropdown-main-div h5 {
  font-weight: bolder;
}

/* ParaTags.css */

.para-tags-container p {
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.para-tags-container p.active {
  background-color: lightblue;
}

.selectable-div {
  padding: 20px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.selectable-div.active {
  background-color: lightblue;
}
