.multileveldropdown-main-div {
  position: absolute;
  top: 90%;
  left: 15%;
  color: black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: white;
  width: 60%;
}

.multileveldropdown-main-div div {
  padding: 1rem;
  width: 30%;
  background-color: #cae2ff;
}

.multileveldropdown-main-div > div:first-child {
  /* background-color: #75a1d7; */
}

.multileveldropdown-main-div div:hover {
  background-color: #cae2ff;
}
.multileveldropdown-main-div > div:first-child > p {
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 20px;
}

.multileveldropdown-main-div div p {
  cursor: pointer;
  margin-bottom: 0rem;
}

.multileveldropdown-main-div div p:hover {
  color: blue;
}

.multileveldropdown-main-div h5 {
  font-weight: bolder;
}
