
.head-text-of-article-redirect-page{
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 8rem;
  margin-bottom: 2rem;
  margin: auto;
}


.main-all-content-of-article-redirect-page{
  display: flex;
  justify-content: center;
  align-content:center;

}
.all-content-of-article-redirect-page{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
}
.main-date-and-category-of-redirect-page{
  display: flex;
  justify-content: space-between;
  margin-top: -3%;
}
.main-date-and-category-of-redirect-page h6{
  color: rgb(147, 145, 145);
}





