.thumbs {
  display: none;
}
.carousel.carousel-slider .control-arrow {
  background-color: rgba(0, 0, 0, 0.182);
}
.HomeCarousel {
  padding-top: 9rem;
}

.main-header-div {
  margin-bottom: 2rem;
}

.text-center {
  margin-left: 7rem;
}

.eventandnews {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  width: 50%;
  margin: auto;
}

.react-calendar {
  width: 70% !important;
  margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: none !important;
  border-radius: 5px;
  height: 60% !important;
}

.news {
  width: 50%;
}
.actualnews {
  border: 1px solid black;
  padding: 1rem;
  width: 70%;
  margin: auto;
  height: 17rem;
  overflow: hidden;
  border-radius: 5px;
}

.actualnews div + p {
  margin-bottom: 1rem;
  border: 1px solid red;
}

.crousal-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.header-latest-news {
  display: flex;
  justify-content: center;
  height: 6rem;
  align-items: center;
  width: 99%;
  margin: auto;
  /* z-index: 10; */
  margin-top: -20px;
  padding: 2rem;
  border-radius: 10px;
  gap: 1rem;
  overflow: hidden;
}

.header-latest-news .title {
  position: absolute;
  background: #df2020;
  z-index: 10;
  padding: 10px;
  height: 3rem;
  left: 6px;
  color: white;
}

.header-latest-news ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 25s infinite linear;
}

.header-latest-news ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: #494949;
  position: relative;
}

.header-latest-news ul li::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

.header-latest-news ul li:last-child::after {
  display: none;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-1683px);
  }
}

@media (max-width: 1025px) {
  .eventandnews {
    width: 100%;
  }
  .react-calendar {
    width: 90% !important;
  }
  .actualnews {
    width: 90%;
  }
  .text-center {
    margin-left: 1.5rem;
  }
  .header-latest-news {
    top: 47%;
  }
}
@media (max-width: 1000px) {
  .HomeCarousel {
    margin-bottom: -1rem;
  }
}
@media (max-width: 920px) {
  .HomeCarousel {
    padding-top: 4rem;
  }
}
@media (max-width: 800px) {
  .HomeCarousel {
    margin-bottom: -1.5rem;
  }
  .header-latest-news {
    top: 40%;
    right: 10%;
    width: 70%;
  }
  .header-latest-news p {
    font-weight: bolder;
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .HomeCarousel {
    padding-top: 3.6rem;
  }
  .eventandnews {
    flex-direction: column;
  }
  .news {
    width: 90%;
  }
  .event {
    width: 90%;
    margin: auto;
  }
}
