.main-navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(
    to top,
    #003471 0%,
    #003471 50%,
    #002147 50%,
    #002147 100%
  );
  position: fixed;
  width: 100%;
  z-index: 20;
  color: white;
  padding: 0rem 1rem;
}

.main-image-div img {
  width: 70%;
}

.main-links-div-navbar {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.GiHamburgerMenu {
  display: none;
}

.main-image-div {
  width: 20%;
  display: flex;
  gap: 1rem;
}

.navbar-input-search-button {
  position: absolute;
  top: 68%;
  right: 3%;
  border: none;
  background: transparent;
}

.first-link-div-navbar {
  width: 100%;
  padding-top: 1rem;
  /* border: 1px solid red; */
}
.second-link-div-navbar {
  width: 100%;
  padding-top: 1rem;
}

.first-link-div-navbar > ul {
  display: flex;
  justify-content: right;
  align-items: normal;
  list-style: none;
  gap: 3rem;
  width: 100%;
}

.second-link-div-navbar > ul {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  list-style: none;
  gap: 3rem;
}

.first-link-div-navbar > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -1rem;
}

.second-link-div-navbar > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: -1rem;
}

.home-page-search-bar {
  width: 260%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding-left: 5px;
}

.login-signup-button {
  border-radius: 5px;
  background-color: #8181ff;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
/* MAIN DESIGN FOR NAVBAR START FROM HERE */

.header {
  text-align: center;
}

#nav {
  background-color: red;
  color: red;
}

.toast {
  margin: 0 auto;
}

.custom-btn-toolbar {
  display: inline !important;
}

.custom-btn-toolbar > .btn {
  margin-right: 1rem;
}

.dropdown-submenu-container {
  position: relative;
}
.dropdown-submenu-container a.dropdown-submenu::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-menu-right .dropdown-submenu-container a.dropdown-submenu::after {
  transform: rotate(90deg);
  position: absolute;
  left: 0px;
  right: unset;
  top: 0.8em;
}

.dropdown-menu-end .dropdown-submenu-container a.dropdown-submenu::after {
  transform: rotate(90deg);
  position: absolute;
  left: 0px;
  right: unset;
  top: 0.8em;
}

.dropdown-submenu-container .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 1px;
  margin-right: auto;
}
.dropdown-menu-right .dropdown-submenu-container .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: auto;
  margin-right: 1px;
}

.dropdown-menu-end .dropdown-submenu-container .dropdown-menu {
  left: auto;
  right: 100%;
  margin-left: auto;
  margin-right: 1px;
}

@media screen and (max-width: 1450px) {
  .home-page-search-bar {
    width: 230%;
  }
}

@media screen and (max-width: 1030px) {
  .home-page-search-bar {
    width: 100%;
  }

  .main-image-div {
    gap: 1rem;
  }

  .main-image-div a {
    width: 100%;
  }

  .main-image-div img {
    width: 140%;
  }
}

@media screen and (max-width: 768px) {
  .main-links-div-navbar {
    display: none;
  }

  .GiHamburgerMenu {
    display: block;
  }

  .main-image-div img {
    width: 70%;
  }

  .main-navbar {
    justify-content: space-between;
    align-items: center;
  }

  .main-image-div {
    width: 40%;
    display: flex;
    gap: 1rem;
  }
}

.dropdown-menu.show {
  border-radius: 0px;
  margin-top: 20px;
}
