.back-image-of-latest-new{
  width: 100%;
 height: 40vh;
}
.main-drop-down-of-latest-news{
  display: flex;
  justify-content: end;
  margin-right: 4%;
  gap: 4rem;
}

.drop-down-of-latest-news{
  display: flex;
  justify-content: end;
  align-items: center; 
}

.drop-down-number-one-latest-news{

  color: black;
  width: 100%;
  height: 3rem;
  border: 1px solid black !important;
  border-radius: 5px;
}
.main-all-news-of-latest-news{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;

}

