
.home-and-latest-news-of-latest-news-page{
  margin-left: 1rem;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 

}

.main-drop-down-of-latest-news{
  display: flex;
  justify-content: end;
  margin-right: 4%;
  gap: 4rem;
}

.drop-down-of-latest-news{
  display: flex;
  justify-content: end;
  align-items: center; 
}

.drop-down-number-one-latest-news{
  color: black;
  width: 10rem;
  height: 3rem;
  border: 1px solid black !important;
  border-radius: 5px;
}

.main-all-news-of-latest-news{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

