@import url("https://fonts.cdnfonts.com/css/times-new-roman");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Times New Roman", sans-serif;
  transition: all 0.5s linear;
}

a {
  text-decoration: none;
  /* color: white; */
}
