@import url("https://fonts.cdnfonts.com/css/times-new-roman");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Times New Roman", sans-serif !important;
  transition: all 0.5s linear;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}


body h1,h2,h3,h4,h5,h6,p,td,tr,li{
  font-family: "Times New Roman", sans-serif;
}
html {
  scroll-behavior: smooth;
}