.main-first-college{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    
    
    
}
.first-college{
    
    
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
   
}
.image-and-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.image-and-head{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.image-and-head img{padding-bottom: 2rem;
    

}
.buttons-of-populer-college{
    display: flex;
    justify-content: space-evenly;
}
.apply-now-button{
    background-color: #107E7D;
    color: white;
    border-radius: 5px;
    padding: 0 2rem;
    cursor: pointer;
    
}

.counsoult-button{
    color: black;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 2rem;
    
}
.buttons-to-see-next-populer-college{
    display: flex;
    justify-content: center;
    align-items: center;}

.buttons-to-see-next-populer-college button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    text-decoration: none;
    background-color: white;
    gap: 1rem;
    background-color: white;
    color: black;
  
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 1rem;
   

}
.main-buttons-to-see-next-populer-college{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.main-buttons-to-see-next-populer-college button:hover{
    background-color: #00255B;
}
.para-of-colleges{
    padding-top: 2rem;
}