.all-table{
    width: 80%;
    margin: auto;
    margin-bottom: 7rem;
}


.first-year-table{
    width: 100%;

}

.second-year-table{
    width: 100%;

}
.List-of-Elective-Area-table{
    width: 100%;
}



